.checkout{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 80svh;
    & .tituloCheckout{
        @include titulo-section
    }
    & .checkoutProcedure{
        margin-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 30px;
        & .checkoutSummary{
            display: flex;
            flex-direction: column;
            justify-content: start;
            gap: 10px;
            align-items: center;
            width: clamp(300px,30vw,400px) ;
            border: 2px solid rgba(255,255,255,.18);
            border-radius: 17px;
            padding: 10px;
            background-color: $lime-1;
            backdrop-filter: blur(5px);
            & .productCheckout{
                flex-direction: row;
                width: 100%;
                gap: 10px;
                background-color: rgba(255,255,255,.8);
                padding: 10px;
                border-radius: 7px;
                & .imgProductCheckout{
                    height: 100px;
                    width: 100px;
                    aspect-ratio: 1/1;
                    border-radius: 7px;
                    object-fit: cover;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    }
                & .checkoutProductInfo{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 70%;
                    & .checkoutNameRow{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        & .checkoutProductName{
                            font-size: 1.2rem;
                            font-weight: 800;
                            margin: 0;
                        }
                        & .deleteCartProductButton{
                            background-color: transparent;
                            border: none;
                            padding: 0;
                            & .deleteIcon{
                                width: 25px;
                                height: 25px;
                                background-color: $lime-5;
                                border-radius: 50%;
                                & path{
                                    fill: $lime-12;
                                    width: 100%;
                                    height: 100%;
                                    
                                }
                            }
                        }
                    }
                    & .checkoutProductQuantity{
                        font-family: $font-p;
                        color:  rgba(128, 128, 128,.8);
                        font-weight: 700;
                    }
                    & .checkoutActionsRow{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: end;
                        & .checkoutProductActions{
                            display: flex;
                            justify-content: end;
                            flex-direction: row;
                            align-items: end;
                            gap: 10px;
                            & p{
                                padding: 0;
                                margin: 0;
                            }
                            & .checkoutProductActionButton{
                                @include action-button;
                                & .actionIcon{
                                    fill: $lime-5;
                                }
                            }
                        }
                        & .checkoutProductPrice{
                            margin: 0;
                            margin-right: 5px;
                            font-size: 20px;
                            & .currency{
                                margin-left: 5px;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
        & .totalOrder{
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: end;
            font-weight: 700;
            color: $lime-11;
        }
        & .emptyOrderContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 250px;
            gap: 15px;
            & svg{
                width: 50px;
                height: 50px;
                fill: $lime-8;
            }
            & .totalOrderEmpty{
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: center;
                align-items: center;
                font-weight: 700;
                color: $lime-11;
                text-transform: uppercase;
            }
        }   
        & .checkoutForm{
            width: clamp(300px,30vw,400px) ;
            & .formLabel{
                @include form-label-style;
            }
            & .sendFormButton{
                @include button-one;
            }
        }
    }
}