    $gold-1: rgba(244, 240, 226, 1);
    $gold-2: rgba(241, 235, 217, 1);
    $gold-3: rgba(234, 225, 198, 1);
    $gold-4: rgba(231, 216, 175, 1);
    $gold-5: rgba(224, 208, 161, 1);
    $gold-6: rgba(220, 198, 137, 1);
    $gold-7: rgba(213, 186, 107, 1);
    $gold-8: rgba(201, 164, 40, 1);
    $gold-9: rgba(150, 118, 0, 1);
    $gold-10: rgba(138, 108, 0, 1);
    $gold-11: rgba(104, 79, 0, 1);
    $gold-12: rgba(49, 26, 0, 1);

    $gold-a1: rgba(240, 217, 255, 0.17);
    $gold-a2: rgba(153, 14, 150, 0.04);
    $gold-a3: rgba(138, 49, 4, 0.10);
    $gold-a4: rgba(178, 106, 4, 0.21);
    $gold-a5: rgba(168, 109, 2, 0.27);
    $gold-a6: rgba(180, 122, 2, 0.38);
    $gold-a7: rgba(183, 131, 0, 0.51);
    $gold-a8: rgba(192, 147, 0, 0.82);
    $gold-a9: rgba(150, 118, 0, 0.90);
    $gold-a10: rgba(138, 108, 0, 0.92);
    $gold-a11: rgba(104, 79, 0, 0.94);
    $gold-a12: rgba(49, 26, 0, 0.98);

    $gold-contrast: rgba(255, 255, 255, 1);
    $gold-surface: rgba(255, 255, 255, 0.8);
    $gold-indicator: rgba(150, 118, 0, 1);
    $gold-track: rgba(150, 118, 0, 1);

    $lime-1: rgba(239, 240, 238, 1);
    $lime-2: rgba(233, 236, 231, 1);
    $lime-3: rgba(221, 231, 216, 1);
    $lime-4: rgba(207, 223, 199, 1);
    $lime-5: rgba(192, 213, 181, 1);
    $lime-6: rgba(173, 200, 160, 1);
    $lime-7: rgba(150, 183, 133, 1);
    $lime-8: rgba(118, 160, 95, 1);
    $lime-82: rgba(118, 160, 95, .2);
    $lime-87: rgba(118, 160, 95, .7);
    $lime-9: rgba(115, 163, 88, 1);
    $lime-10: rgba(103, 151, 76, 1);
    $lime-11: rgba(67, 104, 45, 1);
    $lime-12: rgba(45, 60, 37, 1);
    $lime-122: rgba(45, 60, 37, .2);

    $lime-a1: rgba(234, 236, 255, 0.52);
    $lime-a2: rgba(208, 217, 255, 0.32);
    $lime-a3: rgba(1, 103, 180, 0.10);
    $lime-a4: rgba(3, 105, 87, 0.16);
    $lime-a5: rgba(4, 100, 43, 0.22);
    $lime-a6: rgba(1, 93, 17, 0.29);
    $lime-a7: rgba(6, 89, 1, 0.40);
    $lime-a8: rgba(21, 95, 0, 0.57);
    $lime-a9: rgba(29, 109, 0, 0.60);
    $lime-a10: rgba(28, 101, 0, 0.65);
    $lime-a11: rgba(21, 68, 0, 0.80);
    $lime-a12: rgba(6, 24, 1, 0.84);

    $lime-contrast: rgba(255, 255, 255, 1);
    $lime-surface: rgba(230, 234, 234, 0.8);
    $lime-indicator: rgba(115, 163, 88, 1);
    $lime-track: rgba(115, 163, 88, 1);
