.productoError{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .mensajeProductoError{
        font-family: $font-titulo;
        font-size: 5rem;
        color: orangered;
    }
    & .detalleProductoError{
        font-size: 1rem;
        color: gray;
    }
}

.productAlignContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .productCardContainer{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
        & .buttonVolver{
            @include button-one;
            background-color: transparent;
            border: 1px solid orangered;
            color: orangered;
            font-weight: 600;
        }
        & .productCard{
            border-radius: 2rem;
            margin: 2rem 0 0 0;
            padding: 2rem;
            max-width: 1500px;
            width: 70vw;
            background-color: rgb(255, 69, 0,.2);
            display: flex;
            flex-direction: row;
            gap: 2rem;
            box-shadow: 5px 5px 30px rgb(0, 0, 0, .2);
            & .productDetailedImg{
                width: 70%;
                border-radius: 1rem;
                box-shadow: 5px 5px 20px rgb(0, 0, 0, .3);
            }
            & .productDetailedInfo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                & .productDetailedPrice{
                    color: orangered;
                    font-size: 2rem;
                    font-weight: 800;
                }
                & .addToCartSection{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    & .quantityDiv{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row
                    }
                    & .buyButton{
                        @include buy-button;
                    }
                    & .addedToCart{
                        @include buy-button;
                        flex-direction: row;
                        justify-content: center ;
                    }
                }
                & .addedToCartSection{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    & .quantityDiv{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: row;
                        gap: 10px;
                        & .addedQuantity{
                            margin: 0px;
                        }
                        & .actionButton{
                            @include action-button;
                        }
                    }
                    & .buyButton{
                        @include buy-button;
                    }
                    & .addedToCart{
                        @include buy-button;
                        flex-direction: row;
                        justify-content: center ;
                    }
                }
            }
        } 
    }
}
