.espacioProductos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 30px;
    min-height: 80svh;
    & .tituloItemListContainer{
        @include titulo-section
    }
    & .fondoProductos{
        position: absolute;
        opacity: 0.2;
        z-index: -5;
        top: 0px;
    }
    & .productList{
        display: grid;
        grid-template-columns: repeat(
          auto-fit,
          minmax(
            300px,
            1fr
          )
        );
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 80vw;
        // max-width: 1500px;
    }
    & .producto{

        background-color: #ff450030;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        border: 2px solid rgba(255, 255, 255,.2);
        backdrop-filter: blur(5px);
        box-shadow: 5px 5px 15px rgb(0, 0, 0, .25);
        width: 350px;
        & a{
            width: 100%;
            max-height: 50%;
            overflow: hidden;
            margin-bottom: 20px;
            & .imgProduct{
                width: 100%;
                aspect-ratio: 4/3;
                object-fit: cover;
    
                &:hover{
                    scale:1.1;
                }
            }
        }
        & .productPrice{
            margin: 0rem 0 10px 2rem;
            font-size: 16px;
            & .currency{
                margin-left: 5px;
                font-size: 16px;
            }
        }
        & .productName{
            font-size: 20px;
            margin: 0rem 0 10px 2rem;
        }
        & .productInfo{
            padding: 2rem 2rem 1rem 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            gap: 20px;
            & h2,h3,p{
                margin: 5px 0px;
            }
            & .irDetalle{
                @include button-one;
                background-color: white;
                color: orangered;
                border-color: orangered
            }
            & .buyButton{
                @include button-one;
                border: none;
                font-size: 10px;
                border-radius: 99rem;
                width: 150px;
            }
            & .productAddButton,.productRemoveButton{
                @include action-button;
            }
        }

    }
}



