.landing{
    height: 100svh;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    & .videoLanding{
        position: absolute;
        top: 0px;
        z-index: -10;
        opacity: .6;
        width: 100vw;
        mask-image: linear-gradient(to bottom,white 80%,transparent 100%);
        -webkit-mask-image: linear-gradient(to bottom,white 80%,transparent 100%);
    }
    & .landingLogo{
        width: 20vw;
        min-width: 300px;
    }
    & .landingTitle{
        font-size: 68px;
        font-family: $font-titulo;
        font-weight: 900;
        text-transform: uppercase;
        color: $lime-12;
    }
    & .landingPedidoLink{
        text-decoration: none;
        color: $gold-2;
        background-color: $gold-a7;
        padding: 1rem 1.5rem;
        border-radius: .7rem;
        border: 1px solid $gold-7;
        font-family: $font-titulo;
        letter-spacing: 1px;
        font-weight: 500;
        text-transform: uppercase;
        &:hover{
            scale: 1.05;
        }
    }

}
.chamuyoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow( 0px 5px 10px rgba(0, 0, 0, 0.7));

    & .chamuyoContainer{
        display: grid;
        max-width: 1000px;
        grid-template-columns: 1fr 300px 1fr;
        align-items: center;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        background-color: $lime-a7;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        padding: 2rem;
        filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, .3));
        height: 150px;
        overflow: visible;
        & .chamuyoTitle{
            text-align: left;
            font-weight: 600;
            font-size: 28px;
        }
        & .imgChamuyo{
            position: absolute;
            left:0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            z-index: 2;
            filter: drop-shadow( 0px 5px 10px rgba(0, 0, 0, 0.5));
        }
        & .chamuyoTitle2{
            grid-column: 3;
            text-align: right;
            font-weight: 600;
            font-size: 28px;
        }
    }
}
.categoriasSection{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
    padding-inline: 2rem;
    & h2{
        font-weight: 800;
        color: $lime-1210;
    }
    & .categoryCardList{
        display: flex;
        flex-direction: row;
        gap: 50px;
        & .categoryCard{
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            transition: all 300ms;
            border-color: $gold-1;
            border: 1px solid $gold-1;
            background-color: $gold-2;
            border-radius: 1rem;
            box-shadow: 0 5px 10px $gold-a4;
            padding: 1rem;
            width: clamp(250px, 20em,350px);
            filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
            backdrop-filter: blur(10px);
            &:first-child{
                background: radial-gradient(circle at top right, $lime-8 0%, hsl(from $lime-8 h s 0 /100%) 300%);
            }
            &:nth-child(2){
                background: radial-gradient(circle at top, $lime-8 0%, hsl(from $lime-8 h 300% 0 /100%) 300%);
            }
            &:nth-child(3){
                background: radial-gradient(circle at top left, $lime-8 0%, hsl(from $lime-8 h s 0 /100%) 300%);
            }
            &:hover{
                scale: 1.05;
            }
            & .categoryCardPrice{
                color: $lime-1;
                & span{
                    margin-right: 5px;
                    font-size: 12px;
                    color: inherit;
                }
            }
            & img{
                width: 100%;
                height: 200px;
                border-radius: .5rem;
                object-fit: cover;
            }
            & .category{
                opacity: 1;
                z-index: 2;
                padding: 1rem 2rem;
                transition: all 300ms;
                text-transform: capitalize;
                font-size: 2em;
                color: $lime-1;
            }
            & .categoryCardDescription{
                text-align: center;
                margin-bottom: 2rem;
                color: $lime-2;
                font-size: .9rem;
                font-weight: 300;
            }
            & .categoryCardButton{
                background-color: white;
                border-radius: .5em;
                width: 100%;
                padding: 1rem 2rem;
                border: none;
                font-size: .8em;
                letter-spacing: 1px;
                opacity: 1;
                color: $lime-12;
            }
    
        }
    }
}
.sobreNosotrosSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10rem 0;
    align-items: center;
    & .nosotrosInfo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        background-color: $gold-27;
        border-radius: 2rem;
        padding: 2rem;
        z-index: 2;
        gap: 3em;
        & .nosotrosTexto{
            width: 50%;
            max-width: 600px;
            & h2{
                font-weight: bold;
                font-size: $heading-font-size-one;
                color: $gold-11;
            }
            & p{
                font-weight: 400;
                margin: 16px 0;
                line-height: 1.7rem;
            }
            & button{
                background-color: hsl(from $lime-8 h 30% l /100%);
                padding: 1rem 2rem;
                border: none;
                border-radius: .5rem;
                font-weight: 500;
                color: white;
                font-family: $font-titulo;
                box-shadow:0 4px 6px -1px rgb(from $lime-12 r g b / 50%), 0 2px 4px -2px rgb(from $lime-12 r g b / 50%);;
            }
        }
        & img{
            width: 50%;
            border-radius: .5rem;
            box-shadow: 0 10px 12px -1px rgb(from $gold-12 r g b / 25%);;
        }
    }
    & .nosotrosFondo{
        position: absolute;
        z-index: -2;
        opacity: 0.3;
        will-change: transform;
        width: 100%;
    }
}
@keyframes movingAnimation{
    from{
        opacity: 0;
        transform: translateY(0px);
    }
    to{
        opacity: 1;
        transform: translateY(-500px);
    }
}


.ofertaSection{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    overflow-y: hidden;
    & .ofertaText{
        z-index: 2;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        & h2,p{
            color: $gold-3;
            font-family: $font-titulo;
        }
        & h2 {
            font-size: 4rem;
            transform: scaleY(.9);
        }
        & p {
            font-size: 1.5rem;
        }

    }
    & .ofertaDividerArriba{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;               
    & svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 199px;
        transform: rotateY(180deg);
    }
    & .shape-fill {
        fill: #F1EBD9;
    }
}
    & .imgOferta{
        width: 100%;
        height: 600px;
        object-fit: cover;
        z-index: -2;
        &:hover{
            filter: blur(2px);
        }
    }
    & .ofertaDividerAbajo{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: rotate(180deg);               
        & svg {
            position: relative;
            display: block;
            width: calc(100% + 1.3px);
            height: 199px;
            transform: rotateY(180deg);
        }
        & .shape-fill {
            fill: #F1EBD9;
        }
    }
}
.contactSection{
    min-height: 60svh;
}
.imageFooter{
        position: absolute;
        bottom: 0px;
        width: 100vw;
        z-index: -11;
}