@media screen and (max-width: 1100px){
    .chamuyoSection{
        & .chamuyoContainer{
            grid-template-areas:"a"
                                "b"
                                "c";
            height: auto;
            margin: 0 15vw;
            & .chamuyoTitle{
                grid-area: a;
            }
            & .imgChamuyo{
                grid-area: b;
                position: relative;
            }
            & .chamuyoTitle2{
                grid-area: c;
            }
        }
    }
    .sobreNosotrosSection{
        & .nosotrosInfo{
            gap: 2rem;
            flex-direction: column;
            & img{
                width: 100%;
            }
            & .nosotrosTexto{
                width: 100%;
            }
        }
    }

    .categoriasSection{
        & .categoryCardList{
            flex-direction: column;
        }
    }
    
    footer{
        height: auto;
        max-height: 800px;
        & nav{
            padding: 20px 0;
            & .linksList{
                flex-direction: column;
                gap: 20px;
                & li{
                    & .navLink{
                        &.active {
                            font-weight: 900;
                            font-size: 19px;
                            text-decoration: underline transparent;
                            text-underline-offset: 0px;
                            color: $lime-1;
                            text-transform: uppercase;
                            background-color: $lime-12;
                            box-shadow: 2px 2px 10px #00000050;
                            padding: 10px 10px 6px 10px;
                            border-radius: .5rem;
                        }
                    }
                }
            }
        }
    }
    div{
        & .categoryNav{
            & .categoryList{
                flex-direction: column;
                gap: 20px;
            }
        }
    }
    .invoice{
        & .mainPedidoInfo{
            & .orderConfirmation{
                flex-direction: column;
                text-align: center;
            }
        }
        & .summaryPedido{
            flex-direction: column;
            & .detallesTecnicos{
                align-items: center;
                justify-content: start;
                flex-direction: column;
                & .detallesSeparacion{
                    flex-direction: column;
                    & h3{
                        padding-bottom: 1rem ;
                    }
                    & .detalleIdPedido{
                        border-left: none;
                        padding-left: 0rem;
                        border-top: 2px solid $lime-6;
                        padding-top: 1rem;
                    }
                }
                & .date{
                    padding-top: 1rem;
                    text-align: start;
                }
            }
            & .detallesPedido{
                flex-direction: column;
            }
            & h4{
                padding-bottom: 1rem;
            }
            & .itemsSummary{
                & .summaryProductInfo{
                    & .summaryProductDataContainer{
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: flex-start;
                        & h3{
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}