
.offcanvas-Menu{
    border: 1px solid $lime-12;
    background-color: transparent;
    backdrop-filter: blur(10px);
    & .offcanvas-header{
        background-color: rgb(from $lime-12 r g b / 80%);
        border-bottom: 1px solid rgb(from $lime-3 r g b / 20%);
        & .offCanvasTitle{
            color: $lime-3;
        }
        & .btn-close{
            fill: white!important;;
            --bs-btn-close-color: white!important;;
        }
    }
    & .offcanvas-body{
        background-color: rgb(from $lime-12 r g b / 50%);
        .offCanvasNavbar{
            & .navLinkList{
                display: flex;
                width: 100%;
                flex-direction: column;
                justify-content: flex-start;
                align-items: start;
                gap: 1rem;
                & li{
                    & .navLink{
                        text-decoration: none;
                        color: $lime-3;
                        font-family: $font-titulo;
                        text-transform: uppercase;
                        font-weight: 700;
                        letter-spacing: .06rem;
                        &.active {
                            font-weight: 900;
                            font-size: 19px;
                            text-decoration: underline 2px;
                            text-underline-offset: 4px;
                            color: $lime-3;
                            text-transform: uppercase;
                            
                        }
                    }   
                }
            }
        }
    }
}