@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100svh;
  margin: 0;
}

main {
  flex: 1;
  box-sizing: border-box;
  padding-bottom: 60px;
  min-height: 100svh;
}

.app {
  min-height: 100svh;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  color: orangered;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.carritoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carritoContainer .carrito {
  width: 40px;
  height: 40px;
  z-index: 1;
  fill: rgb(45, 60, 37);
}
.carritoContainer .carrito:hover {
  scale: 1.2;
  transition: 100ms ease-in-out;
}
.carritoContainer div {
  overflow: visible;
  display: flex;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-20px, -20px);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  overflow: visible;
  background-color: rgb(45, 60, 37);
  padding: 5px;
  z-index: 10;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}
.carritoContainer div .cartQuantity {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(192, 213, 181);
  padding: 0px;
  margin: 0px;
  z-index: 10;
}

.range-input {
  position: relative;
  width: 100%;
  margin: 1em 0;
}

.values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.categoryNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categoryNav .categoryList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10svh;
  list-style: none;
  margin: 2rem 0px;
}
.categoryNav .categoryList .categoryNavItem {
  transition: 100ms ease-in;
}
.categoryNav .categoryList .categoryItem {
  text-decoration: none;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 69, 0, 0.5);
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  color: orangered;
  backdrop-filter: blur(5px);
  cursor: pointer;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  transition: 200ms ease-in;
}
.categoryNav .categoryList .categoryItem:hover {
  scale: 1.1;
}
.categoryNav .categoryList .CategoryItemSelected {
  text-decoration: none;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(255, 69, 0, 0.5);
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  color: orangered;
  backdrop-filter: blur(5px);
  cursor: pointer;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 69, 0, 0.8);
  color: white;
  scale: 1.2;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
  transition: 100ms ease-in;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav .linksList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10svh;
}
nav .linksList li {
  list-style: none;
}
nav .linksList li .navLink {
  text-decoration: none;
  color: rgb(45, 60, 37);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.06rem;
}
nav .linksList li .navLink.active {
  font-weight: 900;
  font-size: 19px;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  color: rgb(45, 60, 37);
  text-transform: uppercase;
}

.toastContainer .toast .toastHeader .toastIco {
  height: 20px;
  width: 20px;
}

.header {
  height: 10svh;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(6, 89, 1, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin: 1rem;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
}
.header .logoTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header .logoTitle .navLink .mainLogo {
  width: 60px;
  height: 60px;
  max-height: 100px;
  fill: rgb(45, 60, 37);
}
.header .logoTitle .pageTitle {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  color: rgb(192, 213, 181);
}

.footer {
  height: 10svh;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(6, 89, 1, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin: 1rem;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
}
.footer .logoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .logoTitle.navLink .mainLogo {
  width: 50px;
  height: 50px;
  max-height: 100px;
}
.footer .carritoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .carritoContainer .carrito {
  width: 40px;
  height: 40px;
}
.footer .carritoContainer .carrito:hover {
  scale: 1.2;
  transition: 100ms ease-in-out;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart .productoCarrito {
  justify-content: start;
  padding: 20px 0px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.1);
  align-items: center;
  max-height: 150px;
  gap: 20px;
}
.cart .productoCarrito .imgCartProduct {
  height: 100%;
  max-height: 110px;
  width: 30%;
  aspect-ratio: 6/7;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cart .productoCarrito .cartProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.cart .productoCarrito .cartProductInfo .cartNameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .cartProductName {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .deleteCartProductButton {
  background-color: transparent;
  border: none;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .deleteCartProductButton .deleteIcon {
  width: 25px;
  height: 25px;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .deleteCartProductButton .deleteIcon path {
  width: 100%;
  height: 100%;
}
.cart .productoCarrito .cartProductInfo .cartProductQuantity {
  font-family: "Roboto", sans-serif;
  color: rgba(128, 128, 128, 0.5);
  font-weight: 700;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions p {
  padding: 0;
  margin: 0;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions .cartProductActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 69, 0, 0.2);
  border: transparent;
  border-radius: 100%;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions .cartProductActionButton .actionIcon {
  fill: orangered;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions .cartProductActionButton .actionIcon {
  fill: orangered;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductPrice {
  margin: 0;
  margin-right: 5px;
  font-size: 20px;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductPrice .currency {
  margin-left: 5px;
  font-size: 16px;
}
.cart .cartTotals {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.cart .cartTotals h3 span {
  font-size: large;
}
.cart .goToCheckout {
  display: flex;
  justify-content: center;
}
.cart .goToCheckout .goToCheckoutButton {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding-inline: 1rem;
}

.checkout {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.checkout .tituloCheckout {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 300;
}
.checkout .checkoutProcedure {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.checkout .checkoutProcedure .checkoutSummary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  align-items: center;
  width: clamp(300px, 30vw, 400px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 17px;
  padding: 10px;
  background-color: rgba(255, 68, 0, 0.5);
  backdrop-filter: blur(5px);
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout {
  flex-direction: row;
  width: 100%;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 7px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .imgProductCheckout {
  height: 100px;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .checkoutProductName {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .deleteCartProductButton {
  background-color: transparent;
  border: none;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .deleteCartProductButton .deleteIcon {
  width: 25px;
  height: 25px;
  background-color: rgba(255, 68, 0, 0.2);
  border-radius: 50%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .deleteCartProductButton .deleteIcon path {
  fill: orangered;
  width: 100%;
  height: 100%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutProductQuantity {
  font-family: "Roboto", sans-serif;
  color: rgba(128, 128, 128, 0.5);
  font-weight: 700;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions p {
  padding: 0;
  margin: 0;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions .checkoutProductActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 69, 0, 0.2);
  border: transparent;
  border-radius: 100%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions .checkoutProductActionButton .actionIcon {
  fill: orangered;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions .checkoutProductActionButton .actionIcon {
  fill: orangered;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductPrice {
  margin: 0;
  margin-right: 5px;
  font-size: 20px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductPrice .currency {
  margin-left: 5px;
  font-size: 16px;
}
.checkout .checkoutProcedure .checkoutForm {
  width: clamp(300px, 30vw, 400px);
}
.checkout .checkoutProcedure .checkoutForm .formLabel {
  color: orangered;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.checkout .checkoutProcedure .checkoutForm .sendFormButton {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.landing {
  min-height: 50svh;
  max-height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .videoLanding {
  position: absolute;
  top: 0px;
  z-index: -10;
  opacity: 0.6;
  width: 100vw;
  mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, white, trasparent);
}
.landing .landingLogo {
  width: 20vw;
  min-width: 300px;
}
.landing .landingTitle {
  font-size: 68px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(45, 60, 37);
}

.chamuyoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.7));
}
.chamuyoSection .chamuyoContainer {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 300px 1fr;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(6, 89, 1, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
  height: 150px;
  overflow: visible;
}
.chamuyoSection .chamuyoContainer .chamuyoTitle {
  text-align: left;
  font-weight: 600;
  font-size: 28px;
}
.chamuyoSection .chamuyoContainer .imgChamuyo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  z-index: 2;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}
.chamuyoSection .chamuyoContainer .chamuyoTitle2 {
  grid-column: 3;
  text-align: right;
  font-weight: 600;
  font-size: 28px;
}

.contactSection {
  min-height: 60svh;
}

.imageFooter {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  z-index: -11;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.espacioProductos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  gap: 30px;
  min-height: 80svh;
}
.espacioProductos .tituloItemListContainer {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 300;
}
.espacioProductos .fondoProductos {
  position: absolute;
  opacity: 0.2;
  z-index: -5;
  top: 0px;
}
.espacioProductos .productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.espacioProductos .producto {
  background-color: rgba(255, 69, 0, 0.1882352941);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 350px;
}
.espacioProductos .producto a {
  width: 100%;
  max-height: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.espacioProductos .producto a .imgProduct {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.espacioProductos .producto a .imgProduct:hover {
  scale: 1.1;
}
.espacioProductos .producto .productPrice {
  margin: 0rem 0 10px 2rem;
  font-size: 16px;
}
.espacioProductos .producto .productPrice .currency {
  margin-left: 5px;
  font-size: 16px;
}
.espacioProductos .producto .productName {
  font-size: 20px;
  margin: 0rem 0 10px 2rem;
}
.espacioProductos .producto .productInfo {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.espacioProductos .producto .productInfo h2, .espacioProductos .producto .productInfo h3, .espacioProductos .producto .productInfo p {
  margin: 5px 0px;
}
.espacioProductos .producto .productInfo .irDetalle {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: orangered;
  border-color: orangered;
}
.espacioProductos .producto .productInfo .buyButton {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 10px;
  border-radius: 99rem;
  width: 150px;
}
.espacioProductos .producto .productInfo .productAddButton, .espacioProductos .producto .productInfo .productRemoveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 69, 0, 0.2);
  border: transparent;
  border-radius: 100%;
}
.espacioProductos .producto .productInfo .productAddButton .actionIcon, .espacioProductos .producto .productInfo .productRemoveButton .actionIcon {
  fill: orangered;
}
.espacioProductos .producto .productInfo .quantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.espacioProductos .producto .productInfo .quantityDiv .addedQuantity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.productoError {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productoError .mensajeProductoError {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  color: orangered;
}
.productoError .detalleProductoError {
  font-size: 1rem;
  color: gray;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  min-height: 10svh;
  justify-content: center;
  gap: 20px;
}
.spinnerContainer .spinner {
  color: orangered;
}

.productAlignContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productAlignContainer .productCardContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.productAlignContainer .productCardContainer .buttonVolver {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid orangered;
  color: orangered;
  font-weight: 600;
}
.productAlignContainer .productCardContainer .productCard {
  border-radius: 2rem;
  margin: 2rem 0 0 0;
  padding: 2rem;
  max-width: 1500px;
  width: fit-content;
  background-color: rgba(255, 69, 0, 0.2);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.productAlignContainer .productCardContainer .productCard .productDetailedImg {
  width: 70%;
  max-width: 600px;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .productDetailedPrice {
  color: orangered;
  font-size: 2rem;
  font-weight: 800;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection .quantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection .buyButton {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  border: solid 1px orangered;
  background-color: rgba(255, 69, 0, 0.9);
  font-size: 14px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection .addedToCart {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  border: solid 1px orangered;
  background-color: rgba(255, 69, 0, 0.9);
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv .addedQuantity {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv .actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgba(255, 69, 0, 0.2);
  border: transparent;
  border-radius: 100%;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv .actionButton .actionIcon {
  fill: orangered;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .buyButton {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  border: solid 1px orangered;
  background-color: rgba(255, 69, 0, 0.9);
  font-size: 14px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .addedToCart {
  width: 100px;
  background-color: rgba(255, 68, 0, 0.9);
  padding: 0.5rem;
  text-decoration: none;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  border: solid 1px orangered;
  background-color: rgba(255, 69, 0, 0.9);
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
}

.quantityDiv {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.quantityDiv-enter {
  opacity: 0;
}

.quantityDiv-enter-active {
  opacity: 1;
}

.quantityDiv-exit {
  opacity: 1;
}

.quantityDiv-exit-active {
  opacity: 0;
}

.addToCartSection {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.addToCartSection.added {
  transform: scale(1.1);
}

.buyButton.addedToCart {
  background-color: green;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

/*# sourceMappingURL=styles.css.map */
