@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Questrial&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  overflow-x: hidden;
  overflow-y: auto;
  min-height: 100svh;
  margin: 0;
}

main {
  flex: 1;
  box-sizing: border-box;
  padding-bottom: 60px;
  min-height: 100svh;
}

.app {
  min-height: 100svh;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: rgb(241, 235, 217);
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  color: rgb(67, 104, 45);
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.carritoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carritoContainer .carrito {
  width: 40px;
  height: 40px;
  z-index: 1;
  fill: rgb(45, 60, 37);
}
.carritoContainer .carrito:hover {
  scale: 1.2;
  transition: 100ms ease-in-out;
}
.carritoContainer div {
  overflow: visible;
  display: flex;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-20px, -20px);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  overflow: visible;
  background-color: rgb(45, 60, 37);
  padding: 5px;
  z-index: 10;
  filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.3));
}
.carritoContainer div .cartQuantity {
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: rgb(192, 213, 181);
  padding: 0px;
  margin: 0px;
  z-index: 10;
}

.categoryNav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categoryNav .categoryList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10svh;
  list-style: none;
  margin: 2rem 0px;
}
.categoryNav .categoryList .categoryNavItem {
  transition: 100ms ease-in;
}
.categoryNav .categoryList .categoryItem {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(118, 160, 95, 0.7);
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(118, 160, 95);
  backdrop-filter: blur(5px);
  cursor: pointer;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  transition: 200ms ease-in;
}
.categoryNav .categoryList .categoryItem:hover {
  scale: 1.1;
}
.categoryNav .categoryList .CategoryItemSelected {
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(118, 160, 95, 0.7);
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(118, 160, 95);
  backdrop-filter: blur(5px);
  cursor: pointer;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
  background-color: rgb(173, 200, 160);
  border: 1px solid rgb(45, 60, 37);
  color: rgb(45, 60, 37);
  font-weight: 800;
  scale: 1.2;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
  transition: 100ms ease-in;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.navbar .linksList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10svh;
}
.navbar .linksList li {
  list-style: none;
}
.navbar .linksList li .navLink {
  text-decoration: none;
  color: rgb(45, 60, 37);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.06rem;
}
.navbar .linksList li .navLink.active {
  font-weight: 900;
  font-size: 19px;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  color: rgb(45, 60, 37);
  text-transform: uppercase;
}

.offcanvas-Menu {
  background-color: rgba(45, 60, 37, 0.2);
}
.offcanvas-Menu .offcanvas-header .offCanvasTitle {
  color: rgb(221, 231, 216);
}
.offcanvas-Menu .offcanvas-body .offCanvasNavbar .navLinkList {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
}
.offcanvas-Menu .offcanvas-body .offCanvasNavbar .navLinkList li .navLink {
  text-decoration: none;
  color: rgb(221, 231, 216);
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.06rem;
}
.offcanvas-Menu .offcanvas-body .offCanvasNavbar .navLinkList li .navLink.active {
  font-weight: 900;
  font-size: 19px;
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  color: rgb(221, 231, 216);
  text-transform: uppercase;
}

.toastContainer .toast .toastHeader .toastIco {
  height: 20px;
  width: 20px;
}

.header {
  height: 10svh;
  max-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(6, 89, 1, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin: 1rem;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
}
.header .logoTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header .logoTitle .navLink .mainLogo {
  width: 75px;
  height: 75px;
  max-height: 100px;
  fill: rgb(45, 60, 37);
}
.header .logoTitle .pageTitle {
  margin: 0;
  text-align: center;
  vertical-align: middle;
  color: rgb(192, 213, 181);
}
.header .headerInteractions {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.header .headerInteractions .burgerButton {
  background-color: rgb(45, 60, 37);
  border: none;
}

.offcanvas-Menu .offcanvas-header {
  background-color: black;
}
.offcanvas-Menu .offcanvas-body {
  background-color: black;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(6, 89, 1, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1rem;
  margin: 1rem;
  margin-top: 3rem;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
}
.footer .logoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer .logoTitle.navLink .mainLogo {
  width: 50px;
  height: 50px;
  max-height: 100px;
}
.footer .carritoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .carritoContainer .carrito {
  width: 40px;
  height: 40px;
}
.footer .carritoContainer .carrito:hover {
  scale: 1.2;
  transition: 100ms ease-in-out;
}

.espacioProductos .filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.espacioProductos .filter .filterNodes {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.espacioProductos .filter .filterNodes .priceLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.espacioProductos .filter .filterNodes .priceLabel .priceInput {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: rgb(173, 200, 160);
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.espacioProductos .filter .filterNodes .priceLabel .priceInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgb(6, 24, 1);
  cursor: pointer;
}
.espacioProductos .filter .rangeLabel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart .productoCarrito {
  justify-content: start;
  padding: 20px 0px;
  border-bottom: 3px solid rgba(128, 128, 128, 0.1);
  align-items: center;
  max-height: 150px;
  gap: 20px;
}
.cart .productoCarrito .imgCartProduct {
  height: 100%;
  max-height: 110px;
  width: 30%;
  aspect-ratio: 6/7;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.cart .productoCarrito .cartProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.cart .productoCarrito .cartProductInfo .cartNameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .cartProductName {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .deleteCartProductButton {
  background-color: transparent;
  border: none;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .deleteCartProductButton .deleteIcon {
  width: 25px;
  height: 25px;
}
.cart .productoCarrito .cartProductInfo .cartNameRow .deleteCartProductButton .deleteIcon path {
  width: 100%;
  height: 100%;
}
.cart .productoCarrito .cartProductInfo .cartProductQuantity {
  font-family: "Roboto", sans-serif;
  color: rgba(128, 128, 128, 0.5);
  font-weight: 700;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions p {
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions .cartProductActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgb(192, 213, 181);
  border: transparent;
  border-radius: 100%;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions .cartProductActionButton .actionIcon {
  fill: rgb(45, 60, 37);
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductActions .cartProductActionButton .actionIcon {
  fill: orangered;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductPrice {
  margin: 0;
  margin-right: 5px;
  font-size: 20px;
}
.cart .productoCarrito .cartProductInfo .cartActionsRow .cartProductPrice .currency {
  margin-left: 5px;
  font-size: 16px;
}
.cart .cartTotals {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.cart .cartTotals h3 span {
  font-size: large;
}
.cart .goToCheckout {
  display: flex;
  justify-content: center;
}
.cart .goToCheckout .goToCheckoutButton {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: fit-content;
  padding-inline: 1rem;
}

.invoice {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.invoice .mainPedidoInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 20px;
}
.invoice .mainPedidoInfo span {
  font-weight: 700;
}
.invoice .mainPedidoInfo .orderConfirmation {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  background-color: rgb(221, 231, 216);
  padding: 2rem;
  border-radius: 1rem;
}
.invoice .mainPedidoInfo .orderConfirmation .confirmationTick {
  fill: rgb(67, 104, 45);
  height: 30px;
}
.invoice .mainPedidoInfo .textConfirmationEmail {
  max-width: 1000px;
  text-align: center;
}
.invoice .summaryPedido {
  background-color: rgb(239, 240, 238);
  padding: 2rem;
  width: 60%;
  max-width: 1000px;
}
.invoice .summaryPedido .detallesTecnicos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(207, 223, 199);
  padding-bottom: 2rem;
}
.invoice .summaryPedido .detallesTecnicos .detallesSeparacion {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.invoice .summaryPedido .detallesTecnicos .detallesSeparacion h3 {
  padding-right: 1rem;
  color: rgb(45, 60, 37);
  font-weight: 700;
}
.invoice .summaryPedido .detallesTecnicos .detallesSeparacion .detalleIdPedido {
  border-left: 2px solid rgb(173, 200, 160);
  padding-left: 2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.invoice .summaryPedido .detallesTecnicos .date {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  color: rgba(21, 68, 0, 0.8);
}
.invoice .summaryPedido .detallesPedido {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  min-height: 150px;
  padding: 2rem 0;
}
.invoice .summaryPedido .detallesPedido div .titleDatos {
  padding-bottom: 1rem;
  color: rgb(45, 60, 37);
}
.invoice .summaryPedido .detallesPedido p {
  padding: 5px 0;
}
.invoice .summaryPedido .detallesPedido p span {
  color: rgb(45, 60, 37);
  font-weight: 600;
}
.invoice .summaryPedido .itemsSummary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: rgb(221, 231, 216);
  border-radius: 1rem;
  padding: 1rem;
  gap: 20px;
}
.invoice .summaryPedido .itemsSummary .summaryProductInfo {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.invoice .summaryPedido .itemsSummary .summaryProductInfo p {
  font-weight: 400;
}
.invoice .summaryPedido .itemsSummary .summaryProductInfo .summaryProductImg {
  width: 100px;
  border-radius: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.invoice .summaryPedido .itemsSummary .summaryProductInfo .summaryProductName {
  color: rgb(45, 60, 37);
  font-size: 24px;
}
.invoice .summaryPedido .totalOrden {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 1rem;
  gap: 5px;
}
.invoice .summaryPedido .totalOrden p {
  font-weight: 400;
}
.invoice .summaryPedido .totalOrden p span {
  font-weight: 600;
}

.checkout {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 80svh;
}
.checkout .tituloCheckout {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 300;
}
.checkout .checkoutProcedure {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.checkout .checkoutProcedure .checkoutSummary {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  align-items: center;
  width: clamp(300px, 30vw, 400px);
  border: 2px solid rgba(255, 255, 255, 0.18);
  border-radius: 17px;
  padding: 10px;
  background-color: rgb(239, 240, 238);
  backdrop-filter: blur(5px);
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout {
  flex-direction: row;
  width: 100%;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 7px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .imgProductCheckout {
  height: 100px;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 7px;
  object-fit: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .checkoutProductName {
  font-size: 18px;
  font-weight: 800;
  margin: 0;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .deleteCartProductButton {
  background-color: transparent;
  border: none;
  padding: 0;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .deleteCartProductButton .deleteIcon {
  width: 25px;
  height: 25px;
  background-color: rgb(192, 213, 181);
  border-radius: 50%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutNameRow .deleteCartProductButton .deleteIcon path {
  fill: rgb(45, 60, 37);
  width: 100%;
  height: 100%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutProductQuantity {
  font-family: "Roboto", sans-serif;
  color: rgba(128, 128, 128, 0.5);
  font-weight: 700;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions {
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions p {
  padding: 0;
  margin: 0;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions .checkoutProductActionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgb(192, 213, 181);
  border: transparent;
  border-radius: 100%;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions .checkoutProductActionButton .actionIcon {
  fill: rgb(45, 60, 37);
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductActions .checkoutProductActionButton .actionIcon {
  fill: rgb(192, 213, 181);
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductPrice {
  margin: 0;
  margin-right: 5px;
  font-size: 20px;
}
.checkout .checkoutProcedure .checkoutSummary .productCheckout .checkoutProductInfo .checkoutActionsRow .checkoutProductPrice .currency {
  margin-left: 5px;
  font-size: 16px;
}
.checkout .checkoutProcedure .totalOrder {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: end;
  font-weight: 700;
  color: rgb(67, 104, 45);
}
.checkout .checkoutProcedure .emptyOrderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 250px;
  gap: 15px;
}
.checkout .checkoutProcedure .emptyOrderContainer svg {
  width: 50px;
  height: 50px;
  fill: rgb(118, 160, 95);
}
.checkout .checkoutProcedure .emptyOrderContainer .totalOrderEmpty {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: rgb(67, 104, 45);
  text-transform: uppercase;
}
.checkout .checkoutProcedure .checkoutForm {
  width: clamp(300px, 30vw, 400px);
}
.checkout .checkoutProcedure .checkoutForm .formLabel {
  color: rgb(45, 60, 37);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.checkout .checkoutProcedure .checkoutForm .sendFormButton {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.landing {
  height: 100svh;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.landing .videoLanding {
  position: absolute;
  top: 0px;
  z-index: -10;
  opacity: 0.6;
  width: 100vw;
  mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
}
.landing .landingLogo {
  width: 20vw;
  min-width: 300px;
}
.landing .landingTitle {
  font-size: 68px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(45, 60, 37);
}
.landing .landingPedidoLink {
  text-decoration: none;
  color: rgb(241, 235, 217);
  background-color: rgba(183, 131, 0, 0.51);
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  border: 1px solid rgb(213, 186, 107);
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.landing .landingPedidoLink:hover {
  scale: 1.05;
}

.chamuyoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.7));
}
.chamuyoSection .chamuyoContainer {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 1fr 300px 1fr;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(6, 89, 1, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
  height: 150px;
  overflow: visible;
}
.chamuyoSection .chamuyoContainer .chamuyoTitle {
  text-align: left;
  font-weight: 600;
  font-size: 28px;
}
.chamuyoSection .chamuyoContainer .imgChamuyo {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  z-index: 2;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
}
.chamuyoSection .chamuyoContainer .chamuyoTitle2 {
  grid-column: 3;
  text-align: right;
  font-weight: 600;
  font-size: 28px;
}

.categoriasSection {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 300px;
  gap: 30px;
  padding-inline: 2rem;
}
.categoriasSection h2 {
  font-weight: 800;
  color: rgb(45, 60, 37);
}
.categoriasSection .categoryCardList {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.categoriasSection .categoryCardList .categoryCard {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: all 300ms;
  border-color: rgb(244, 240, 226);
}
.categoriasSection .categoryCardList .categoryCard:hover {
  border: 1px solid rgb(244, 240, 226);
  background-color: rgb(241, 235, 217);
  border-radius: 1rem;
  box-shadow: 0 5px 10px rgba(178, 106, 4, 0.21);
  padding: 1rem;
}
.categoriasSection .categoryCardList .categoryCard:hover .category {
  opacity: 1;
  padding: 1rem 2rem;
}
.categoriasSection .categoryCardList .categoryCard:hover img {
  box-shadow: none;
}
.categoriasSection .categoryCardList .categoryCard img {
  width: 100%;
  height: 200px;
  background-color: rgb(234, 225, 198);
  border-radius: 0.5rem;
  object-fit: contain;
  box-shadow: 0 5px 10px rgba(178, 106, 4, 0.21);
}
.categoriasSection .categoryCardList .categoryCard .category {
  opacity: 0;
  z-index: 2;
  transition: all 300ms;
  text-transform: capitalize;
}

.sobreNosotrosSection {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
  padding: 20rem 2rem;
  align-items: center;
  max-height: 800px;
  position: relative;
  mask-image: linear-gradient(to bottom, transparent 0%, white 15%, white 85%, transparent 100%);
}
.sobreNosotrosSection .nosotrosInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  max-width: 1000px;
  background-color: rgba(241, 235, 217, 0.7);
  border-radius: 2rem;
  padding: 2rem;
  z-index: 2;
  border: 1px solid rgb(244, 240, 226);
  box-shadow: 0px 10px 20px rgba(49, 26, 0, 0.3);
  backdrop-filter: sepia(100%) blur(2000px);
}
.sobreNosotrosSection .nosotrosInfo .nosotrosTexto {
  width: 50%;
}
.sobreNosotrosSection .nosotrosInfo img {
  width: 50%;
  border-radius: 1rem;
}
.sobreNosotrosSection .nosotrosFondo {
  position: absolute;
  z-index: -2;
  opacity: 0.3;
  will-change: transform;
  width: 100%;
}

@keyframes movingAnimation {
  from {
    opacity: 0;
    transform: translateY(0px);
  }
  to {
    opacity: 1;
    transform: translateY(-500px);
  }
}
.ofertaSection {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  overflow-y: hidden;
}
.ofertaSection .ofertaText {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.ofertaSection .ofertaText h2, .ofertaSection .ofertaText p {
  color: rgb(234, 225, 198);
  font-family: "Josefin Sans", sans-serif;
}
.ofertaSection .ofertaText h2 {
  font-size: 4rem;
  transform: scaleY(0.9);
}
.ofertaSection .ofertaText p {
  font-size: 1.5rem;
}
.ofertaSection .ofertaDividerArriba {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.ofertaSection .ofertaDividerArriba svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 199px;
  transform: rotateY(180deg);
}
.ofertaSection .ofertaDividerArriba .shape-fill {
  fill: #F1EBD9;
}
.ofertaSection .imgOferta {
  width: 100%;
  height: 600px;
  object-fit: cover;
  z-index: -2;
}
.ofertaSection .imgOferta:hover {
  filter: blur(2px);
}
.ofertaSection .ofertaDividerAbajo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.ofertaSection .ofertaDividerAbajo svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 199px;
  transform: rotateY(180deg);
}
.ofertaSection .ofertaDividerAbajo .shape-fill {
  fill: #F1EBD9;
}

.contactSection {
  min-height: 60svh;
}

.imageFooter {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  z-index: -11;
}

.contactPage {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 80svh;
}
.contactPage .fondoContacto {
  position: absolute;
  top: 0;
  z-index: -10;
  opacity: 0.4;
  width: 100vw;
  mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, white 80%, transparent 100%);
}
.contactPage .contactTitle {
  text-transform: uppercase;
  font-size: 72px;
  font-weight: 300;
}
.contactPage .seccionContacto {
  display: grid;
  min-width: 800px;
  grid-template-columns: 400px 1fr;
  align-items: center;
  grid-template-rows: 100%;
}
.contactPage .seccionContacto .formularioContacto {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(6, 89, 1, 0.4);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2rem;
  filter: drop-shadow(5px 5px 10px rgba(255, 255, 255, 0.3));
  gap: 10px;
  z-index: 2;
}
.contactPage .seccionContacto .formularioContacto label {
  color: rgb(6, 24, 1);
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
.contactPage .seccionContacto .formularioContacto input, .contactPage .seccionContacto .formularioContacto textarea {
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 10px -5px, rgba(0, 0, 0, 0.3) 0px 5px 10px -8px;
}
.contactPage .seccionContacto .formularioContacto button {
  font-family: "Josefin Sans", sans-serif;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.contactPage .seccionContacto .map {
  min-width: 600px;
  min-height: 300px;
  border-radius: 10px;
  z-index: 1;
  transform: translate(-10px, 0px);
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.espacioProductos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 30px;
  min-height: 80svh;
}
.espacioProductos .tituloItemListContainer {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 300;
}
.espacioProductos .fondoProductos {
  position: absolute;
  opacity: 0.2;
  z-index: -5;
  top: 0px;
}
.espacioProductos .productList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80vw;
}
.espacioProductos .producto {
  background-color: rgb(233, 236, 231);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
  width: 350px;
  transition: 200ms;
}
.espacioProductos .producto:hover {
  scale: 1.01;
}
.espacioProductos .producto a {
  width: 100%;
  max-height: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}
.espacioProductos .producto a .imgProduct {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  transition: 200ms ease-in-out;
}
.espacioProductos .producto a .imgProduct:hover {
  scale: 1.1;
}
.espacioProductos .producto .productPrice {
  margin: 0rem 0 10px 2rem;
  font-size: 16px;
  color: rgb(45, 60, 37);
  font-weight: 800;
}
.espacioProductos .producto .productPrice .currency {
  margin-left: 5px;
  font-size: 16px;
}
.espacioProductos .producto .productName {
  font-size: 20px;
  margin: 0rem 0 10px 2rem;
}
.espacioProductos .producto .productInfo {
  padding: 2rem 2rem 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.espacioProductos .producto .productInfo h2, .espacioProductos .producto .productInfo h3, .espacioProductos .producto .productInfo p {
  margin: 5px 0px;
}
.espacioProductos .producto .productInfo .irDetalle {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
  color: rgb(45, 60, 37);
  border-color: rgb(45, 60, 37);
}
.espacioProductos .producto .productInfo .buyButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 10px;
  border-radius: 99rem;
  width: auto;
  padding: 0.5rem 1rem;
}
.espacioProductos .producto .productInfo .buyButton:hover {
  background-color: rgb(150, 183, 133);
}
.espacioProductos .producto .productInfo .buyButton .iconBuyButton {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}
.espacioProductos .producto .productInfo .buyButton .iconBuyButton path {
  width: 15px;
  height: 15px;
}
.espacioProductos .producto .productInfo .buyButton p {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
.espacioProductos .producto .productInfo .productAddButton, .espacioProductos .producto .productInfo .productRemoveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgb(192, 213, 181);
  border: transparent;
  border-radius: 100%;
}
.espacioProductos .producto .productInfo .productAddButton .actionIcon, .espacioProductos .producto .productInfo .productRemoveButton .actionIcon {
  fill: rgb(45, 60, 37);
}
.espacioProductos .producto .productInfo .productAddButton:hover, .espacioProductos .producto .productInfo .productRemoveButton:hover {
  background-color: rgb(150, 183, 133);
}
.espacioProductos .producto .productInfo .quantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.espacioProductos .producto .productInfo .quantityDiv .addedQuantity {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.productoError {
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.productoError .mensajeProductoError {
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  color: orangered;
}
.productoError .detalleProductoError {
  font-size: 1rem;
  color: gray;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  min-height: 10svh;
  justify-content: center;
  gap: 20px;
}
.spinnerContainer .spinner {
  color: rgb(118, 160, 95);
}

.productAlignContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productAlignContainer .productCardContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.productAlignContainer .productCardContainer .buttonVolver {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border: 1px solid rgb(45, 60, 37);
  color: rgb(45, 60, 37);
  font-weight: 600;
}
.productAlignContainer .productCardContainer .productCard {
  border-radius: 2rem;
  margin: 2rem 0 0 0;
  padding: 2rem;
  max-width: 1500px;
  width: fit-content;
  background-color: rgb(221, 231, 216);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.productAlignContainer .productCardContainer .productCard .productDetailedImg {
  width: 70%;
  max-width: 600px;
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .productDetailedPrice {
  color: rgb(67, 104, 45);
  font-size: 2rem;
  font-weight: 800;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection .quantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection .buyButton {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  background-color: rgba(118, 160, 95, 0.7);
  font-size: 14px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addToCartSection .addedToCart {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  background-color: rgba(118, 160, 95, 0.7);
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv .addedQuantity {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv .actionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  aspect-ratio: 1/1;
  background-color: rgb(192, 213, 181);
  border: transparent;
  border-radius: 100%;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .quantityDiv .actionButton .actionIcon {
  fill: rgb(45, 60, 37);
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .buyButton {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  background-color: rgba(118, 160, 95, 0.7);
  font-size: 14px;
}
.productAlignContainer .productCardContainer .productCard .productDetailedInfo .addedToCartSection .addedToCart {
  width: 100px;
  background-color: rgb(192, 213, 181);
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(45, 60, 37);
  border: none;
  border-radius: 0.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 200px;
  background-color: rgba(118, 160, 95, 0.7);
  font-size: 14px;
  flex-direction: row;
  justify-content: center;
}

.quantityDiv {
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.quantityDiv-enter {
  opacity: 0;
}

.quantityDiv-enter-active {
  opacity: 1;
}

.quantityDiv-exit {
  opacity: 1;
}

.quantityDiv-exit-active {
  opacity: 0;
}

.addToCartSection {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.addToCartSection.added {
  transform: scale(1.1);
}

.buyButton.addedToCart {
  background-color: green;
  color: white;
  transform: scale(1.1);
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

@media screen and (max-width: 1100px) {
  footer {
    height: auto;
    max-height: 800px;
  }
  footer nav {
    padding: 20px 0;
  }
  footer nav .linksList {
    flex-direction: column;
    gap: 20px;
  }
  footer nav .linksList li .navLink.active {
    font-weight: 900;
    font-size: 19px;
    text-decoration: underline transparent;
    text-underline-offset: 0px;
    color: rgb(239, 240, 238);
    text-transform: uppercase;
    background-color: rgb(45, 60, 37);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3137254902);
    padding: 10px 10px 6px 10px;
    border-radius: 0.5rem;
  }
  div .categoryNav .categoryList {
    flex-direction: column;
    gap: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
